services:
  gate:
    image: nginx:alpine
    container_name: cine_gate
    ports:
      - "7080:80"
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf # 挂载 nginx 主配置文件
      - ./player/public:/usr/share/nginx/html # 挂载播放器页面目录
      - ./player/dist:/usr/share/nginx/html/dist # 挂载播放器 JS 文件目录
    depends_on:
      - stream
    networks:
      - shared-network

  stream:
    # 使用 gitlab 上制作好的镜像
    # image: registry.gitlab.com/cinemae/cine_stream
    # 自己创建本地镜像
    image: cine_stream
    container_name: cine_stream
    environment:
      - DB_HOST=database
    ports:
      - "7081:8080"
    depends_on:
      - mysql
      - redis
    networks:
      - shared-network

  mysql:
    image: mysql:8.0.33
    container_name: cine_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cine_stream
    ports:
      - "3306:3306"
    volumes:
      - ~/cine/mysql:/var/lib/mysql
    networks:
      - shared-network

  redis: # redis 容器
    container_name: cine_redis
    image: 'redis:7.2.3'
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ~/cine/redis/:/data #挂载数据目录到本地
      - ./conf/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - shared-network

networks:
  shared-network:
    external: true  # 使用已存在的外部网络
    name: shared-network